<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="RockMusicBean"
          class="ru.login.spring.RockMusic">
    </bean>

    <bean id="ClassicalMusicBean"
          class="ru.login.spring.ClassicalMusic"
    factory-method="getClassiccalMusic">
    </bean>

    <bean id="RapMusicBean"
          class="ru.login.spring.Rap">
    </bean>

    <bean id="musicPlayer"
          class="ru.login.spring.MusicPlayer">
        <property name="musicList">
        <list>
            <ref bean="RockMusicBean"/>
            <ref bean="ClassicalMusicBean"/>
            <ref bean="RapMusicBean"/>
        </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>